[submodule "day1"]
	path = day1
	url = https://github.com/CyrilSLi/christmas-clicker-game.git
[submodule "day4"]
	path = day4
	url = https://github.com/CyrilSLi/haxmas-day4
[submodule "day5"]
	path = day5
	url = https://github.com/CyrilSLi/haxmas-day5
[submodule "day7"]
	path = day7
	url = https://github.com/CyrilSLi/haxmas-day7.git
[submodule "day8"]
	path = day8
	url = https://github.com/CyrilSLi/haxmas-day8.git
[submodule "day9"]
	path = day9
	url = https://github.com/CyrilSLi/haxmas-day9.git
[submodule "day10"]
	path = day10
	url = https://github.com/CyrilSLi/haxmas-day10.git
[submodule "day11"]
	path = day11
	url = https://github.com/CyrilSLi/haxmas-day11.git
